In [8]:
import pandas as pd # type: ignore
import requests # type: ignore
from bs4 import BeautifulSoup # type: ignore

In [9]:
url = 'https://www.basketball-reference.com/players/c/curryst01/gamelog/2016'
page = requests.get(url)
soup = BeautifulSoup(page.text, features = 'html.parser')

In [10]:
table = soup.find_all('table')[7]

In [11]:
header_row = table.find('thead')
column_titles = header_row.find_all('th')

column_titles_cleaned = [title.text for title in column_titles]

['Rk',
 'G',
 'Date',
 'Age',
 'Tm',
 '\xa0',
 'Opp',
 '\xa0',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'GmSc',
 '+/-']

In [12]:
#cleaning the column titles
column_titles_cleaned.pop(0)
column_titles_cleaned[4] = 'Loc'
column_titles_cleaned[6] = 'PointSpread'

df = pd.DataFrame(columns = column_titles_cleaned)
df

Empty DataFrame
Columns: [G, Date, Age, Tm, Loc, Opp, PointSpread, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, GmSc, +/-]
Index: []

[0 rows x 29 columns]

In [13]:
body = table.find('tbody')
body_data = body.find_all('tr')
for row in body_data:
  row_data = row.find_all('td')
  individual_row_data = [data.text.strip() for data in row_data]
  if len(individual_row_data) != 0 and individual_row_data[0] != '':    #filters out the rows of repeat column header info and the games steph didn't play
    df.loc[len(df)] = individual_row_data

,G,Date,Age,Tm,Loc,Opp,PointSpread,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,2015-10-27,27-227,GSW,,NOP,W (+16),1,35:37,14,...,3,6,7,2,0,2,1,40,34.9,+12
1,2,2015-10-30,27-230,GSW,@,HOU,W (+20),1,27:24,9,...,7,7,6,1,0,1,4,25,22.4,+12
2,3,2015-10-31,27-231,GSW,@,NOP,W (+14),1,35:38,17,...,4,4,9,4,0,2,3,53,49.2,+16
3,4,2015-11-02,27-233,GSW,,MEM,W (+50),1,28:24,10,...,2,3,3,3,1,3,2,30,26.1,+37
4,5,2015-11-04,27-235,GSW,,LAC,W (+4),1,32:38,8,...,5,5,4,1,0,0,3,31,26.0,+7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,75,2016-04-05,28-022,GSW,,MIN,L (-7),1,42:35,7,...,4,6,15,3,0,3,4,21,17.8,+3
75,76,2016-04-07,28-024,GSW,,SAS,W (+11),1,36:17,11,...,5,5,9,2,0,3,2,27,24.1,+14
76,77,2016-04-09,28-026,GSW,@,MEM,W (+1),1,33:59,7,...,9,9,8,1,0,2,1,17,11.3,+10
77,78,2016-04-10,28-027,GSW,@,SAS,W (+6),1,35:22,13,...,5,5,5,2,0,4,4,37,28.2,+7
78,79,2016-04-13,28-030,GSW,,MEM,W (+21),1,29:46,15,...,3,4,6,2,0,2,2,46,40.2,+19

In [14]:
df.replace('', pd.NA, inplace=True)
df.to_csv(r'C:\Users\Drew Brackman\Documents\Portfolio\Stephen Curry 2016\curry2016.csv', index = False)